<div class="page-wrapper position-relative">
  <div *ngIf="loading" class="loading-overlay">
    <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <div class="col-4">
      <div class="row">
        <div class="col mb-2">
          <label for="email" class="form-label">Email:</label>
          <input 
          type="email" 
          id="email" 
          [(ngModel)]="user.email"
          disabled 
          class="form-control form-control-sm">
        </div>
      </div>
      <div class="row">
        <div class="col mb-2">
          <label for="name" class="form-label">Name:</label>
          <input 
          type="text" 
          id="name" 
          [(ngModel)]="user.name"
          class="form-control form-control-sm">
        </div>
      </div>
      <div class="row">
        <div class="col d-grid">
          <button type="button" (click)="update()" class="btn btn-sm btn-dark" [disabled]="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
            Update
          </button>
        </div>
      </div>
      <div class="row">
        <strong>{{ errorMessage }}</strong>
      </div>
      <div class="row">
        <div class="container mt-4" *ngIf="cards && cards.length > 0; else noData">
          <table class="table table-bordered table-hover table-sm">
            <thead class="table-light">
              <tr class="text-center">
                <th>Card ID</th>
                <th>User ID</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of cards" class="text-center">
                <td>{{ card.CARD_ID }}</td>
                <td>{{ card.USER_ID }}</td>
                <td>{{ card.BALANCE | number:'1.2-2' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <ng-template #noData>
          <div class="alert alert-info text-center mt-4">
            No card data available.
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>




